<div class="row">
    <div class="col">
        <h5>¿Cuál es el estado emocional de mis visitas?</h5>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h5>Resultados cadena</h5>
    </div>
    <div class="col">
        <h5>Top tiendas</h5>
    </div>
</div>
<div class="row">
    <div class="col item-col">
        <app-doughnut-chart title="Porcentaje de satisfacción"></app-doughnut-chart>
    </div>
    <div class="col item-col">
        <app-top-k title="Top positivo"></app-top-k>
    </div>
    <div class="col item-col">
        <app-top-k title="Top negativo"></app-top-k>
    </div>
</div>
<div class="row">
    <div class="col item-col">
        <app-line-chart title="Detalle"></app-line-chart>
    </div>
</div>