<div class="row">
    <div class="col">
        <h5>¿Qué género y edad tienen mis visitas?</h5>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h5>Vista general</h5>
    </div>
    <div class="col">
        <h5>Vista jerárquica</h5>
    </div>
</div>
<div class="row">
    <div class="col-4 item-col">
        <app-radar-chart title="Tasa de conversión y fuga"></app-radar-chart>
    </div>
    <div class="col item-col">
        <app-bubble-chart></app-bubble-chart>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-line-chart title="Distribución por edad"></app-line-chart>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-line-chart title="Distribución por género"></app-line-chart>
    </div>
</div>