<div class="row">
    <div class="col">
        <h5>¿Cómo es el comportamiento de compra de mis visitas?</h5>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h5>Resultados de la cadena</h5>
    </div>
    <div class="col">
        <h5>Top tiendas</h5>
    </div>
</div>
<div class="row">
    <div class="col item-col">
        <app-doughnut-chart title="Tasa de conversión y fuga"></app-doughnut-chart>
    </div>
    <div class="col item-col">
        <app-top-k title="Top tasa de conversión"></app-top-k>
    </div>
    <div class="col item-col">
        <app-top-k title="Top tasa de fuga"></app-top-k>
    </div>
</div>
<div class="row">
    <div class="col tem-col">
        <app-line-chart title="Conversión y fuga"></app-line-chart>
    </div>
</div>