<div class="row">
    <div class="col">
        <h5>¿Cómo se movilizan dentro de las tiendas mis visitas?</h5>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h5>Top tiendas</h5>
    </div>
    <div class="col">
        <h5>Top zonas</h5>
    </div>
</div>
<div class="row">
    <div class="col item-col">
        <app-top-k title="Tiempo de permanencia"></app-top-k>
    </div>
    <div class="col item-col">
        <app-top-k title="Tiempo de permanencia promedio"></app-top-k>
    </div>
    <div class="col item-col">
        <app-top-k title="Número de visitas promedio"></app-top-k>
    </div>
</div>
